<!DOCTYPE html>
<html lang="en">

<head>
    <title>grow</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/base.css">
    <script type="text/javascript" src="/js/main.js"></script>
</head>

<!--헤더 시작-->
<header id="header" class="container-fluid">
    <nav class="navbar navbar-expand-sm" style="width:80%; margin:0 auto;">
        <div class="container-fluid">
            <a href="/index.html" class="navbar-brand"><img src="/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="collapsibleNavbar">
                <ul class="navbar-nav d-flex justify-content-start">
                    <li class="nav-item mx-3 fs-5">
                        <a class="nav-link text-dark" href="/jobs/info.html">채용정보</a>
                    </li>
                    <li class="nav-item mx-3 fs-5">
                        <a class="nav-link text-dark" href="/resume/manageResume.html">이력서</a>
                    </li>

                    <li class="nav-item mx-3 fs-5">
                        <a class="nav-link text-dark" href="/jobs/interest.html">관심기업</a>
                    </li>
                </ul>

                <ul class="navbar-nav d-flex justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/user/loginForm.html">로그인</a>
                    </li>
                    <li class="nav-item mr-20 ml-10 bar">
                        <a class="nav-link text-dark ml-10" href="/user/joinForm.html">회원가입</a>
                    </li>
                    <li class="nav-item company-service ">
                        <a class="nav-link mint-color" href="/comp/loginForm.html">기업서비스</a>
                        <!--
                            <a class="nav-link mint-color" href="/comphome.html">기업서비스</a>
                            회원가입 또는 로그인 인증 체크후 기업홈으로!!
                        -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--헤더 끝-->

<div class="mx-auto pt-80" style="width:80%;">
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-3 px-5" style="text-align: center;">
                <div class="mb-3">
                    <div class="fs-4">이력서 관리</div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="relative mb-3">
                            <div>
                                <a href="/user/profileUpdateForm.html"
                                    onclick="window.open(this.href, '_blank', 'width=1200,height=900,toolbars=no,scrollbars=no, resizable=no'); return false;">
                                    <div class="user-img">
                                        <img src="/images/aboutme_img.jpg" class="rounded" alt="Cinque Terre"
                                            style="max-width: 80px;">

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h6 class="card-subtitle text-muted">심유주님</h6>
                            <hr>
                            <ul class="nav flex-column nav-pills">
                                <li class="nav-item">
                                    <a href="/user/myhome.html" class="nav-link sub-menu a p-1 mb-1"
                                        aria-current="page">마이
                                        홈</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/resume/manageResume.html" class="nav-link sub-menu btn-mint a p-1 mb-1"
                                        aria-current="page" style="color:#fff;">이력서 관리</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/user/offer.html" class="nav-link sub-menu a p-1 mb-1">지원 / 제안</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/user/scrap" class="nav-link sub-menu a p-1">스크랩</a>
                                </li>
                                <hr>
                                <li class="nav-item">
                                    <a href="/user/update" class="nav-link sub-menu a p-1 mb-1" data-bs-toggle="modal"
                                        data-bs-target="#modal">정보수정</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  sub-menu a p-1" href="/logout">로그아웃</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--이력서 관리-->

            <div class="col-9 my-2 pe-5">
                <div class="d-flex justify-content-between " style="height: 3em;">
                    <div>
                        <h6><b>전체 <div class="badge count-color px-2 " style="font-weight: 900; font-size: 16px;">
                                    ${rDtos.size()}</div></b></h6>
                    </div>
                    <div>
                        <button style="float: right;" type="button" class="btn btn-outline-mint mb-4"
                            onclick="location.href='/resume/writeResumeForm.html'">이력서
                            작성</button>
                    </div>
                </div>


                <div class="card mb-4 mt-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9 mt-2">
                                <a href="/resume/${rDto.resumeId}"
                                    onclick="window.open(this.href, '_blank', 'width=1200,height=1080,toolbars=no,scrollbars=no, resizable=no'); return false;">
                                    <h5 class="card-title" style="text-align: left;">
                                        백엔드 개발자 지원합니다.
                                    </h5>
                                    <!--기술스킬-->
                                    <div class="d-flex">
                                        <div class="skill-wrap">
                                            <span class="badge bg-warning">JavaScript</span>
                                            <span class="badge bg-primary">HTML/CSS</span>
                                            <span class="badge bg-success">Webpack</span>
                                        </div>
                                    </div>

                                    <div class="m-2" style="float: left;">
                                        <h6 class="card-subtitle text-muted">
                                            경력무관
                                        </h6>
                                    </div>
                                    <div class="m-2" style="float: left;">
                                        <h6 class="card-subtitle text-muted">
                                            미들(4~8년)
                                        </h6>
                                    </div>
                                    <div class="m-2" style="float: left;">
                                        <h6 class="card-subtitle text-muted">
                                            판교분당
                                        </h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <input type="hidden" value="" name="" id="">
                                    <div class="mb-2" style="float: right;">
                                        <button type="button" class="btn btn-mint" style="float: right;" onclick="">이력서
                                            수정</button>
                                    </div>
                                    <div class="mb-2" style="float: right;">
                                        <button type="button" class="btn btn-outline-mint mb-2" data-bs-toggle="modal"
                                            data-bs-target="#dModal" style="float: right;" onclick="">이력서
                                            삭제</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 mt-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9 mt-2">
                                <a href="/resume/${rDto.resumeId}"
                                    onclick="window.open(this.href, '_blank', 'width=1200,height=1080,toolbars=no,scrollbars=no, resizable=no'); return false;">
                                    <h5 class="card-title" style="text-align: left;">
                                        백엔드 개발자 지원합니다.
                                    </h5>
                                    <!--기술스킬-->
                                    <div class="d-flex">
                                        <div class="skill-wrap">
                                            <span class="badge bg-warning">JavaScript</span>
                                            <span class="badge bg-primary">HTML/CSS</span>
                                            <span class="badge bg-success">Webpack</span>
                                        </div>
                                    </div>

                                    <div class="m-2" style="float: left;">
                                        <h6 class="card-subtitle text-muted">
                                            경력무관
                                        </h6>
                                    </div>
                                    <div class="m-2" style="float: left;">
                                        <h6 class="card-subtitle text-muted">
                                            미들(4~8년)
                                        </h6>
                                    </div>
                                    <div class="m-2" style="float: left;">
                                        <h6 class="card-subtitle text-muted">
                                            판교분당
                                        </h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <input type="hidden" value="" name="" id="">
                                    <div class="mb-2" style="float: right;">
                                        <button type="button" class="btn btn-mint" style="float: right;" onclick="">이력서
                                            수정</button>
                                    </div>
                                    <div class="mb-2" style="float: right;">
                                        <button type="button" class="btn btn-outline-mint mb-2" data-bs-toggle="modal"
                                            data-bs-target="#dModal" style="float: right;" onclick="">이력서
                                            삭제</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 mt-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9 mt-2">
                                <a href="/resume/${rDto.resumeId}"
                                    onclick="window.open(this.href, '_blank', 'width=1200,height=1080,toolbars=no,scrollbars=no, resizable=no'); return false;">
                                    <h5 class="card-title" style="text-align: left;">
                                        백엔드 개발자 지원합니다.
                                    </h5>
                                    <!--기술스킬-->
                                    <div class="d-flex">
                                        <div class="skill-wrap">
                                            <span class="badge bg-warning">JavaScript</span>
                                            <span class="badge bg-primary">HTML/CSS</span>
                                            <span class="badge bg-success">Webpack</span>
                                        </div>
                                    </div>

                                    <div class="m-2" style="float: left;">
                                        <h6 class="card-subtitle text-muted">
                                            경력무관
                                        </h6>
                                    </div>
                                    <div class="m-2" style="float: left;">
                                        <h6 class="card-subtitle text-muted">
                                            미들(4~8년)
                                        </h6>
                                    </div>
                                    <div class="m-2" style="float: left;">
                                        <h6 class="card-subtitle text-muted">
                                            판교분당
                                        </h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <input type="hidden" value="" name="" id="">
                                    <div class="mb-2" style="float: right;">
                                        <button type="button" class="btn btn-mint" style="float: right;" onclick="">이력서
                                            수정</button>
                                    </div>
                                    <div class="mb-2" style="float: right;">
                                        <button type="button" class="btn btn-outline-mint mb-2" data-bs-toggle="modal"
                                            data-bs-target="#dModal" style="float: right;" onclick="">이력서
                                            삭제</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>
</div>

<!-- <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">비밀번호 인증</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp"
                            onkeypress="if(event.keyCode=='13'){event.preventDefault(); checkPS(${principal.userId});}">
                        <div id="passwordHelp" class="form-text">현재 비밀번호를 입력해 주세요.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                    onclick="passwordCheckBtn(${principal.userId})">Check</button>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="modal fade" id="dModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">이력서 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">해당 이력서를 삭제하시겠습니까?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="deleteResume()" class="btn btn-primary">삭제하기</button>
            </div>
        </div>
    </div>
</div> -->

</div>

<!--푸터-->
<footer id="footer">
    <div class="ft-in pt-40 pb-40 pr-100 pl-100 ft-16" style="width:80%; margin:0 auto;">
        <div class="d-flex">
            <div class="f_logo">
                <img src="/images/logo.png">
            </div>
            <div class="ft-info-w">
                <ul class="ft-info d-flex">
                    <li class="mr-20">(주)그로우</li>
                    <li class="mr-20">대표 : 000 </li>
                    <li class="mr-20">개인정보보호책임자 : 000 </li>
                    <li class="mr-20">사업자등록번호 : 000-00-00000</li>
                    <li class="mr-20">직업정보제공사업 신고번호 : 00000000000</li>
                </ul>
                <ul>
                    <li>경기도 성남시 분당구 대왕판교로 660 유스페이스 1A동 405호</li>
                    <li>©grow. All rights reserved.</li>
                </ul>
            </div>
        </div>
    </div>

    <button type="button" id="btn-top" class="btn-outline-mint">
        <i class="fa fa-arrow-up" aria-hidden="true"></i><span class=""></span>
    </button>
    <script>
        $(function () {
            $("#btn-top").on("click", function () {
                $("html, body").animate({ scrollTop: 0 }, '500');
                return false;
            });
        });
    </script>
</footer>
<!--푸터 끝-->

</body>

</html>