<!DOCTYPE html>
<html lang="en">

<head>
    <title>grow</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/base.css">
    <script type="text/javascript" src="/js/main.js"></script>
</head>

<style>
    /*로그인*/

    .nav-link.user {
        color: var(--mint-color);
    }
</style>


<!--헤더 시작-->
<header id="header" class="container-fluid">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><img src="/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="collapsibleNavbar">

                <ul class="navbar-nav d-flex justify-content-start">
                    <li class="nav-item mx-3 fs-5">
                        <a class="nav-link text-dark" href="/jobs/info">채용정보</a>
                    </li>
                    <li class="nav-item mx-3 fs-5">
                        <a class="nav-link text-dark" href="/user/resume">이력서</a>
                    </li>

                    <li class="nav-item mx-3 fs-5">
                        <a class="nav-link text-dark" href="/user/jobs/interest">관심기업</a>
                    </li>
                </ul>

                <ul class="navbar-nav d-flex justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/loginForm">로그인</a>
                    </li>
                    <li class="nav-item mr-20 ml-10 bar">
                        <a class="nav-link text-dark ml-10" href="/joinForm">회원가입</a>
                    </li>
                    <li class="nav-item company-service ">
                        <a class="nav-link mint-color" href="/comphome">기업서비스</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--헤더 끝-->

<div style="display:flex;" class="my-5">
    <div class="mx-auto width-53 pt-40">

        <div class="rounded-3 container border border-3 p-3 mt-5" style="width: 350px;">
            <div class="form-group mb-3" style="text-align: center;">

                <h4>개인 회원정보 수정</h4>
            </div>

            <div>

                <div class="form-group mb-2">
                    <input type="password" name="password" class="form-control" placeholder="Enter password"
                        id="password">
                </div>

                <div class="form-group mb-2">
                    <input type="password" class="form-control" placeholder="Enter passwordCheck" id="passwordCheck">
                </div>

                <div class="form-group mb-2">
                    <input type="text" name="name" class="form-control" placeholder="Enter name" id="name" value="">
                </div>

                <div class="form-group mb-2">
                    <input type="date" name="birth" class="form-control" placeholder="Enter birth" id="birth" value="">
                </div>

                <div class="form-group mb-2">
                    <input type="tel" name="tel" class="form-control" placeholder="Enter tel" id="tel" value="">
                </div>
                <form name="form" id="form" method="post">

                    <input class="btn btn-outline-mint mb-2" type="button" onClick="goPopup();" value="도로명주소 검색">
                    <div id="list"></div>
                    <div id="callBackDiv">
                        <div class="form-group mb-4">
                            <input class="form-control" type="text" id="address" readonly name="roadFullAddr"
                                placeholder="주소 들어갈 수 있게" />
                            <input type="hidden" id="siNm" name="siNm" />
                        </div>
                    </div>
                </form>
                <div class="d-grid gap-2 mb-2">
                    <button onclick="" class=" btn btn-mint">수정완료</button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<!--푸터-->
<footer id="footer">
    <div class="ft-in pt-40 pb-40 pr-100 pl-100 ft-16">
        <div class="d-flex">
            <div class="f_logo">
                <img src="/images/logo.png">
            </div>
            <div class="ft-info-w">
                <ul class="ft-info d-flex">
                    <li class="mr-20">(주)그로우</li>
                    <li class="mr-20">대표 : 000 </li>
                    <li class="mr-20">개인정보보호책임자 : 000 </li>
                    <li class="mr-20">사업자등록번호 : 000-00-00000</li>
                    <li class="mr-20">직업정보제공사업 신고번호 : 00000000000</li>
                </ul>
                <ul>
                    <li>경기도 성남시 분당구 대왕판교로 660 유스페이스 1A동 405호</li>
                    <li>©grow. All rights reserved.</li>
                </ul>
            </div>
        </div>
    </div>

    <button type="button" id="btn-top" class="btn-outline-mint">
        <i class="fa fa-arrow-up" aria-hidden="true"></i><span class=""></span>
    </button>
    <script>
        $(function () {
            $("#btn-top").on("click", function () {
                $("html, body").animate({ scrollTop: 0 }, '500');
                return false;
            });
        });
    </script>
</footer>
<!--푸터 끝-->


</body>

</html>