{{> /layout/header}}


<div style="display:flex;" class="my-5">
    <div class="mx-auto width-53 pt-40">

        <div class="rounded-3 container border border-3 p-3 mt-5" style="width: 350px;">
            <div class="form-group mb-3" style="text-align: center;">

                <h4>개인 회원정보 수정</h4>
            </div>

            <div>

                <div class="form-group mb-2">
                    <input type="password" name="password" class="form-control" placeholder="Enter password"
                        id="password">
                </div>

                <div class="form-group mb-2">
                    <input type="password" class="form-control" placeholder="Enter passwordCheck" id="passwordCheck">
                </div>

                <div class="form-group mb-2">
                    <input type="text" name="name" class="form-control" placeholder="Enter name" id="name" value="">
                </div>

                <div class="form-group mb-2">
                    <input type="date" name="birth" class="form-control" placeholder="Enter birth" id="birth" value="">
                </div>

                <div class="form-group mb-2">
                    <input type="tel" name="tel" class="form-control" placeholder="Enter tel" id="tel" value="">
                </div>
                <form name="form" id="form" method="post">

                    <input class="btn btn-outline-mint mb-2" type="button" onClick="goPopup();" value="도로명주소 검색">
                    <div id="list"></div>
                    <div id="callBackDiv">
                        <div class="form-group mb-4">
                            <input class="form-control" type="text" id="address" readonly name="roadFullAddr"
                                placeholder="주소 들어갈 수 있게" />
                            <input type="hidden" id="siNm" name="siNm" />
                        </div>
                    </div>
                </form>
                <div class="d-grid gap-2 mb-2">
                    <button onclick="" class=" btn btn-mint">수정완료</button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{{> /layout/footer}}