/*공통*/
.title {
    _border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

/*
input[type="checkbox" i] {
    background-color: var(--mint-color) !important;
}
*/

select {
    width: 100%;
    height: 50px;
    padding: 10px;
}

/*버튼 공통*/
.btn {
    border: 1px solid var(--btn-color);
    color: var(--mint-color);
    padding: 10px 30px;
    width: 100%;
}

.btn.on {
    background-color: var(--mint-color);
    color: #fff;
}

.btn:hover {
    background-color: var(--mint-color);
    color: #fff;
    transition: all .3s ease-in-out;
}

/*스크랩 아이콘*/
.scrap {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 180, 87, .6);
    _opacity: .5;
    _border-radius: 50%;
}

.btn-scrap {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.btn-scrap:hover {
    background-color: var(--mint-color);
    opacity: 1;
    transition: all .3s ease-in-out;
    border-radius: 50%;
}


/*헤더*/
#header {
    _background: transparent;
    z-index: 1000;
    position: relative;
    height: 85px;
    position: absolute;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0 100px;


}

#header.fix {
    position: fixed;
    width: 100% !important;
    background-color: #fff;
    top: 0;
    left: 0;
    transition: all 0.3s;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.05);
}



/*네비게이션 상단 메뉴*/
.navbar-nav li a {
    font-size: 18px;
    font-weight: 600;
    color: #222;
    font-family: 'Pretendard-Regular';
}

.navbar-nav li a:hover {
    color: var(--mint-color);
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.navbar-nav li.bar:after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background-color: #222;
    color: #222;
    margin-top: -30px;
}

.company-service a {
    color: #fff !important;
    border-radius: 5px;
}

.company-service a:hover {
    color: #fff !important;
}


/*로그인, 회원가입*/
.join-wrap {
    width: 500px !important;
    margin: 100px auto;
}

.join-wrap .card-body input {
    height: 45px;
}

.join-wrap .nav-link {
    font-weight: 600;
}

.nav-link:hover {
    color: var(--mint-color);
}

.nav-justified li.on a,
.nav-justified li a:hover {
    color: var(--mint-color);

}

.card-header {
    background-color: #fff;
}

.remember {
    align-items: center;
}

/*채용*/
.info.row {
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}


/*푸터*/
#footer {
    border-top: 1px solid #ccc;
}

/*top 버튼*/
#btn-top:hover {
    color: #fff;
    background: rgb(44, 180, 87);
}

#btn-top {
    border: none;
    position: fixed;
    bottom: 20px;
    right: 200px;
    width: 50px;
    height: 50px;
    line-height: 46px;
    color: var(--mint-color);
    text-align: center;
    font-size: 22px;
    z-index: 90;
    background: rgba(255, 255, 255, .4);
    border: 1px solid var(--mint-color);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.nav-link.user {
    color: var(--mint-color);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 2rem;
}

form {
    width: 40%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 1rem;
    text-align: center;
}

.form-group img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* border: 1px solid gray; */
}

.btn {
    margin-top: 1rem;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100vw;
}
.nav-link {
    color: #222;
}
.card {
    padding: 20px;
}

.apply-present .col-4::after {
    content: '';
    display: block;
    width: 1px;
    height: 80px;
    background-color: #222;
    color: #222;
    margin-top: -60px;
}

.apply-present .col-4:nth-child(1)::after {
    display: none;
}

.user-img:hover {
    filter: brightness(70%);
}

.sub-menu {
    color: #222;
}

table th {
    padding: 15px 20px;
}

.selected3 {
    background-color: #c5f1c5;
    color: #000;
}

#photo {
    width: 80%;
    height: auto;
}

.resume-info-txt table td,
.resume-info-txt table th {
    padding: 0 0 25px;
}

.my-border {
    background-color: #f8f8f8;
    padding: 20px;
}

.border {
    border: 1px solid rgb(0, 0, 0);
}

#photo {
    width: 80%;
    height: auto;
}

.resume-info-txt table td {
    margin-left: 20px;
}

.qButton {
    font-size: 1em;
    font-weight: bold;
    width: 124px;
    height: 35px;
    display: inline;
    float: right;
    margin-right: 3em;
    background-color: rgb(20, 73, 233);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.2em 2em;

}

.qButton:hover {
    background-color: rgb(59, 103, 235);
    cursor: pointer;
}

.eButton {
    font-size: 1em;
    font-weight: bold;
    width: 124px;
    height: 35px;
    display: inline;
    float: right;
    margin-right: 25em;
    background-color: rgb(99, 99, 99);
    border: none;
    padding: 1.5em 5em;

}



.width-53 {
    width: 53%;
}

.input {
    border: ridge;
    font-size: 0.9em;
    font: 1em sans-serif;
}
.mozdiv1 {
    word-spacing: 15px;
}
.liek {
    line-height: 50px;
}

.my-div {
    height: 0px;
}

.textmargin {
    font-size: 1.0em;
    margin-top: 30px;
    margin-left: 50px;
    font-weight: bold;
}





.top_category>div:hover {
    color: rgb(87, 87, 230);
}

.menu_bar a:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.top-80 {
    margin-top: 80px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.div_category:hover {
    cursor: pointer;
    color: black;
}

.form_input:focus {
    outline: none;
    border: 5px solid #98a8fe;
}

.my-xl {
    color: 000;
}

.on-Clicked {
    color: rgb(226, 226, 40);
}

.under-line {
    border-bottom: 1px solid rgb(150, 150, 150);
}

.nav-pills>.nav-item>.active {
    color: rgb(255, 255, 255);
    background-color: rgb(77, 143, 77)
}

.display-none {
    display: none;
}

.ttlButton {
    font-size: 1em;
    font-weight: bold;
    width: 200px;
    height: 50px;
    display: inline;
    background-color: #2cb457;
    border: none;
}