<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>메인페이지</h1>
<hr>
<ul>
    <li>
        <a href="/">메인페이지</a>
    </li>
    <li>
        <a href="/uploadForm">사진등록페이지</a>
    </li>
    <li>
        <a href="/profileUpload">사진확인페이지</a>
    </li>
    <li>
        <a href="/uploadCheck">사진확인페이지</a>
    </li>


</ul>
</body>
</html>