<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>사진확인페이지</h1>
<hr>
<ul>
    <li>
        <a href="/">메인페이지</a>
    </li>
    <li>
        <a href="/uploadForm">사진등록페이지</a>
    </li>
    <li>
        <a href="/uploadCheck">사진확인페이지</a>
    </li>
</ul>

<h1>제목 : {{pic.title}}</h1>
<img src="/upload/{{pic.imgFilename}}" width="500" height="500" alt="사진없음">
</body>
</html>


<!--
밑에 껄로 변경 imgFilename 만 뿌려 주면 됨
<img src="/upload/hello.png" width="500" height="500" alt="사진없음">
-->