{{> layout/compheader}}

<div style="margin-top: 130px" class="mx-auto">
    <div>
        <div style="display: flex; justify-content: center">
            <div class="px-5" style="text-align: center; flex: 0 0 auto; width: 220px">
                <div class="mb-3">
                    <div class="fs-4">기업 홈</div>
                </div>
                <div class="card">
                    <div style="width: 80px">
                        <div class="relative mb-3">
                            <div>
                                <a href="/user/profileUpdateForm"
                                   onclick="window.open(this.href, '_blank', 'width=1200,height=900,toolbars=no,scrollbars=no, resizable=no'); return false;">
                                    <div class="user-img">
                                        <img src="/images/Kakao.png" class="rounded" alt="Cinque Terre"
                                             style="max-width: 80px;">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h6 class="card-subtitle text-muted">카카오</h6>
                            <hr>
                            <ul class="nav flex-column nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link sub-menu a p-1 mb-1" aria-current="page" href="/comp/comphome">공고
                                        관리</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu a p-1 mb-1" href="/comp/apply">지원 / 제안</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu a p-1" href="/comp/scrap">스크랩</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu a p-1" href="/comp/talent">매칭리스트</a>
                                </li>
                                <hr>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu a p-1 mb-1" href="/comp/profileUpdateForm"
                                       data-bs-toggle="modal"
                                       data-bs-target="#modal">정보수정</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  sub-menu a p-1" href="/">로그아웃</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-4 layer2-right-container" style="flex: 0 0 auto; width: 1000px">
                <div class="components">
                    <div class="components-div p-tb-10 d-flex justify-content-between">
                        <div class="font">전체</div>

                        <div>
                            <button type="button" class="btn btn-mint offer-table-btn"><a href="/jobs/writeJobsForm">공고작성</a></button>
                        </div>
                        <!--<button type="button" class="d-flex btn btn-mint text-center" style="width:150px;">공고작성</button>
                        부모로 싸고 하시면 되요!
                        -->
                    </div>
                    <div class="components-div">
                        <table class="table table-hover offer-table scroll">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 10%;">No</th>
                                <th scope="col" style="width: 40%;">현재 열린 공고</th>
                                <th scope="col" style="width: 20%;">포지션</th>
                                <th scope="col" style="width: 10%;">경력</th>
                                <th scope="col" style="width: 20%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#jobList}}

                            <tr class="offer-table">

                                <th scope="row">{{number}}</th>
                                <td>{{title}}</td>
                                <td>{{task}}</td>
                                <td>{{career}}</td>
                                <td>
                                    {{#skillList}}
                                    <div class="{{color}}">{{name}}</div>
                                    {{/skillList}}
                                </td>
                                <td class="d-flex justify-content-between ">
                                    <div>
                                        <a href="/comp/compResumeDetail">
                                            <button type="button" class="btn btn-mint offer-table-btn">지원자 보기</button>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/jobs/{{id}}/updateJobsForm">
                                            <button type="button" class="btn btn-mint offer-table-btn">공고 수정</button>
                                        </a>
                                    </div>
                                    <div>
                                        <form action="/jobs/{{id}}/delete" method="post">
                                            <button class="btn btn-mint offer-table-btn">공고 삭제</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {{/jobList}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="components" style="height: 50px;"></div>
                <div class="components">
                    <div class="font">지원자현황</div>
                    <div>
                        <hr>
                    </div>
                    <div>
                        <table class="table table-hover offer-table scroll">
                            <thead>
                            <tr>
                                <th class="center-align" scope="col" style="width: 10%;">No</th>
                                <th class="center-align" scope="col" style="width: 20%;">이름</th>
                                <th class="center-align" scope="col" style="width: 20%;">이력서제목</th>
                                <th class="center-align" scope="col" style="width: 10%;">경력</th>
                                <th class="center-align" scope="col" style="width: 20%;">주요 기술</th>
                                <th class="center-align" scope="col" style="width: 20%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="offer-table">
                                <th scope="row">1</th>
                                <td>홍길동</td>
                                <td>전지역</td>
                                <td>1년</td>
                                <td>
                                    <div class="skill-tag">
                                        <span class="badge rounded-pill text-bg-warning">Java</span>
                                        <span class="badge rounded-pill text-bg-success">React</span>
                                        <span class="badge rounded-pill text-bg-info">Spring</span>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-mint offer-table-btn">상세보기</button>
                                </td>
                            </tr>
                            <tr class="offer-table">
                                <th scope="row">2</th>
                                <td>임꺽정</td>
                                <td>부산</td>
                                <td>3년</td>
                                <td>
                                    <div class="skill-tag">
                                        <span class="badge rounded-pill text-bg-warning">Java</span>
                                        <span class="badge rounded-pill text-bg-success">React</span>
                                        <span class="badge rounded-pill text-bg-info">Spring</span>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-mint offer-table-btn">상세보기</button>
                                </td>
                            </tr>
                            <tr class="offer-table">
                                <th scope="row">3</th>
                                <td>강호동</td>
                                <td>전지역</td>
                                <td>10년</td>
                                <td>
                                    <div class="skill-tag">
                                        <span class="badge rounded-pill text-bg-warning">Java</span>
                                        <span class="badge rounded-pill text-bg-success">React</span>
                                        <span class="badge rounded-pill text-bg-info">Spring</span>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-mint offer-table-btn">상세보기</button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{{> layout/footer}}