{{> layout/compheader}}

<div style="display:flex;" class="my-5">
    <div class="mx-auto width-53 p-80">
        <div class="rounded-3 container all-form border border-3 p-3" style="width: 400px; margin-top: 60px">
            <ul class="nav nav-tabs">
                <li class="fs-4">
                    <a class="nav-link text-muted" href="/comp/loginForm.html">기업로그인</a>
                </li>
                <li class="nav-item fs-4">
                    <a class="nav-link point-color fw-600" href="/comp/joinForm.html">기업회원가입</a>
                </li>
            </ul>

            <form style="width: 350px; align-items: normal" action="/comp/join" method="post" onsubmit="return valid()">
                <div class="d-flex form-group mt-2 mb-2">
                    <input type="email" name="email" class="form-control" placeholder="Enter email" id="email">
                    <button type="button" class="badge bg-secondary ms-2" onclick="emailCheckBtn()">중복확인</button>
                </div>

                <div class="form-group mb-2">
                    <input type="password" name="password" class="form-control" placeholder="Enter password"
                           id="password">
                </div>

                <div class="form-group mb-2">
                    <input type="password" class="form-control" placeholder="Enter passwordCheck" id="passwordCheck">
                </div>

                <div class="form-group mb-2">
                    <input type="text" name="compName" class="form-control" placeholder="Enter companyName"
                           id="compName">
                </div>

                <div class="form-group mb-2">
                    <input type="text" name="representativeName" class="form-control"
                           placeholder="Enter representativeName" id="representativeName">
                </div>

                <div class="form-group mb-2">
                    <input type="text" name="businessNumber" class="form-control" placeholder="Enter businessNumber"
                           id="businessNumber">
                </div>

                <input class="btn btn-outline-mint mb-2" type="button" onClick="goPopup();" value="도로명주소 검색">
                <div id="list"></div>
                <div id="callBackDiv">
                    <div class="form-group mb-4">
                        <input class="form-control" type="text" id="address" readonly name="roadFullAddr"
                               placeholder="주소 들어갈 수 있게"/>
                        <input type="hidden" id="siNm" name="siNm"/>
                    </div>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckChecked1">
                    <label class="form-check-label" for="flexCheckChecked">
                        (필수) 이용약관 동의
                    </label>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="flexCheckChecked2">
                    <label class="form-check-label" for="flexCheckChecked">
                        (필수) 개인정보 수집 및 이용 동의
                    </label>
                </div>

                <div class="d-grid gap-2 mb-4">
                    <input id="button" class=" btn btn-mint" type="submit" value="회원가입" onclick="submitForm()">
                </div>
            </form>
        </div>
    </div>
</div>
{{> layout/footer}}
