<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
    <%@ include file="../layout/header-simple.jsp" %>

        <div style="display:flex;" class="my-5">
            <div class="mx-auto width-53 top-40">
                <div class="rounded-3 container border border-3 p-3 mt-5" style="width: 350px;">
                    <div class="form-group mb-3" style="text-align: center;">
                        <h4>기업 회원정보 수정</h4>
                    </div>

                    <div class="form-group mb-2">
                        <input type="password" name="password" class="form-control" placeholder="Enter password"
                            id="password">
                    </div>

                    <div class="form-group mb-2">
                        <input type="password" class="form-control" placeholder="Enter passwordCheck"
                            id="passwordCheck">
                    </div>

                    <div class="form-group mb-2">
                        <input type="text" name="compName" class="form-control" placeholder="Enter companyName"
                            id="compName" value="${comp.compName}">
                    </div>

                    <div class="form-group mb-2">
                        <input type="text" name="representativeName" class="form-control"
                            placeholder="Enter representativeName" id="representativeName"
                            value="${comp.representativeName}">
                    </div>

                    <div class="form-group mb-4">
                        <input type="text" name="businessNumber" class="form-control" placeholder="Enter businessNumber"
                            id="businessNumber" value="${comp.businessNumber}">
                    </div>


                    <div class="d-grid gap-2 mb-2">
                        <button onclick="updateComp(${compSession.compId})" class=" btn btn-primary">수정완료</button>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <script>
            // 회원 수정 update 버튼
            function updateComp(id) {
                let data = {
                    compId: id,
                    password: $("#password").val(),
                    compName: $("#compName").val(),
                    representativeName: $("#representativeName").val(),
                    businessNumber: $("#businessNumber").val(),
                };
                $.ajax({
                    type: "put",
                    url: "/comp/update",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done((res) => {
                    alert(res.msg);
                    location.href = "/comp/comphome";
                }).fail((err) => {
                    alert(err.responseJSON.msg);
                });
            }
        </script>
        <%@ include file="../layout/footer.jsp" %>